appdirs==1.4.0
appnope==0.1.0
decorator==4.0.11
ipython==7.16.3
ipython-genutils==0.1.0
markovify==0.5.4
packaging==16.8
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.13
ptyprocess==0.5.1
Pygments==2.2.0
pyparsing==2.1.10
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.1
Unidecode==0.4.20
wcwidth==0.1.7
